
.image-div {
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid rgb(151, 145, 145);
    box-shadow: 2px 2px 5px #8b8b8bf6;
}

.image-area {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.selected-image-overlay-div {
    padding: 30px 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    box-sizing: border-box;
    background-color: rgb(8, 6, 6, 0.8);
}

.selected-image-overlay-div .selected-image-backdrop {
    background-color: transparent;
    position: absolute;
}

.selected-image-overlay-div .selected-image {
    z-index: 10000;
    object-fit: contain;
    max-height: calc(100vh - 50px);
    background-color: rgb(117, 114, 114);
}
