
.image-grid-area {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 14px;
}

.image-list-footer {
    padding: 0 10px;
}

@media (max-width: 400px) {
    .image-grid-area {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    .image-grid-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .image-grid-area {
        grid-template-columns: repeat(3, 1fr);
    }
}
